
@import url(https://fonts.googleapis.com/css?family=Roboto:100,700;);

body,html
{
  background-color:#D0D0D0;
  height:100vh;
  margin: 0;
  font-family: 'Roboto', sans-serif;

}

.nav{
  background-color: #3b3b3f;
  font-family: 'Roboto', sans-serif;
  opacity: 0.7;
  position: fixed;
  z-index: 999;
  width: 100%;
  display: flex;
  font-weight: 500;
}

.bird{
  width: 10%;
  display: inline-block;
  margin: 0 2% 0 2%;
}

.name_brand {
  float: left;
  display: flex;
  align-items: end;
  justify-content: right;
  width: 50%;
}

.name_brand p{
  margin-top: 3%;
  color: #ffe75e;
  text-decoration: none;
}

.nav ul{
  margin: 0;
  width: 45%;
}

.nav ul li 
{
  display: inline-block;
  padding-top: 3%;
  padding-right: 4%;
}

.nav ul li a {
  color: #ffe75e;
  text-decoration: none;
}


.about-me
{
  color: #000;
  background-color: #3b3b3f;
  width: 80%;
  display: flow-root;
  text-align: center;
  margin-bottom: 2%;
  margin-top: 2%;
  margin-left: 10%;
  font-weight: 600;
  border-radius: 5px;
}

.the_placeText{
  text-align: center;
  margin: 4%;
  margin-top: 0;
  color: rgb(208, 208, 208);
  font-weight: 500;
}

.text_container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 64%;
  left: 50%;
  margin-left: -40%;
  font-size: xx-large;
}

.aim {
color: #D0D0D0;
}

.word {
  position: absolute;
  width: 70%;
}

.letter {
  display: inline-block;
  position: relative;
  float: left;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.wisteria {
  color: #77a4be;
}

.belize {
  color: #f5d754;
}

.pomegranate {
  color: #c0392b;
}

.green {
  color: #16a085;
}

.img-profile {
  width: 15vw;
  height: 33vh;
  border-radius: 150px;
  vertical-align: top;
  border: solid 1px #f5d754;
}

.projectPictures_container{
  border: solid 2px #ffe75e;
  border-radius: 5%;
  display: flex;
  width: 70%;
  margin: 1% 5% 5% 10%;
  padding: 5%;
  justify-content: space-evenly;
}


.projectPictures > img {
  width: 25%;
  
}

/*  start space black background   */

.snip1585 {
  background-color: #D0D0D0;
  color: #ffe75e;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  min-width: 230px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
  margin: 0;
}

.snip1585:before,
.snip1585:after {
  background-color: rgba(0,0,0, 0.5);
  border-top: 50px solid rgba( #D0D0D0, 0.5);
  border-bottom: 50px solid rgba( #D0D0D0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1;
  opacity: 0;
}

.snip1585:before {
  -webkit-transform: scaleY(2);
  transform: scaleY(2);
}

.snip1585:after {
  -webkit-transform: scaleY(2);
  transform: scaleY(2);
}

.snip1585 img {
  vertical-align: top;
  width: 100vw;
  height: 98vh;
  backface-visibility: hidden;
}

.snip1585 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.1em;
  opacity: 0;
  z-index: 2;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.snip1585 h3 {
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0;
  text-transform: uppercase;
}

.snip1585 h3 span {
  display: block;
  font-weight: 700;
}

.snip1585 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.snip1585:hover > img,
.snip1585.hover > img {
  opacity: 0.7;
}

.snip1585:hover:before,
.snip1585.hover:before,
.snip1585:hover:after,
.snip1585.hover:after {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.snip1585:hover figcaption,
.snip1585.hover figcaption {
  opacity: 1;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
/*  End container initial screen */


/* Skills place */
.icons{
  display: flex;
  background: #3b3b3f;
  border-radius: 5%;
  margin-left: 4%;
  padding-top: 1%;
  margin-top: 10%;
  text-align: center;
  flex-direction: unset;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
  height: 55vh;
  border: solid 2px #ffe75e;
}

.icon{
  width: 15%;
  color: #ffe75e;
  font-weight: 600;
  place-self: baseline;
  margin: 1%;
  padding: 1%;
  text-align: center;
}


.icons  img {
width: 50%;

}

.skills{
  background-color: #3b3b3f;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 2%;
  border-radius: 5px;
}

.skillContent{
  display: flex;
  width: 79vw;
  height: 80vh;
  flex-direction: row;
  align-items: center;
  background-image: url(./images/fondotecnologia.png);
  background-size: cover;
}

.title{
    background-color: #3b3b3f;
    color: #ffe75e;
    border-radius: 5%;
    display: flex;
    padding: 5%;
    padding-bottom: 1%;
    margin-bottom: 0;
    font-weight: 600;
}

.techBackground{
  width: 78vw;
  height: 47vh;
  margin-left: 2px;

}
/* end of Skills place */

/*  Container  my projects place   */
.myWorks{
  color: #ffe75e;
  background-color: #3b3b3f;
  width: 80%;
  display: flow-root;
  text-align: center;
  margin-bottom: 2%;
  margin-left: 10%;
  font-weight: 600;
  border-radius: 5px;
}
/*  Container  contact  place   */
.contact{
  color: #ffe75e;
  background-color: #3b3b3f;
  width: 80%;
  display: flow-root;
  text-align: center;
  margin-bottom: 2%;
  margin-left: 10%;
  font-weight: 600;
  border-radius: 5px;
}

.findIcon{
display: grid;
text-align: center;
    margin: 4%;
    color: rgb(208, 208, 208);
    font-weight: 500;
}

.mepic {
  width: 50%;
  display: flex;
}

.findMe{
  display: flex;
    border: solid 2px #ffe75e;
    border-radius: 5%;
    margin: 5%;
}

.labIcon{
  width: 10%;
  border-radius: 5%;
}

.contactIcon{
  width: 10%;
  color: #ffe75e;
  font-weight: 600;
  display: inline-table;
  place-self: baseline;
  margin: 1%;
  padding: 1%;
  text-align: center;
}
/*   footer place    */
.containerFooter
{
  background:  #3b3b3f;
  width: 100%;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  padding-top: 10px; 
  padding-bottom: 10px;
}

.containerFooter  a {
  color:#ffe75e;
  text-decoration: none;

}

/* snip 1311  */

figure.snip1311 {
  position: relative;
  float: left;
  overflow: hidden;
  max-height: 30%;
  width: 25%;
  color: #ffffff;
  text-align: left;
  background-color: #07090c;
  font-size: 16px;
  -webkit-perspective: 50em;
  perspective: 50em;
  border-radius: 10%;
}
figure.snip1311 * {
-webkit-box-sizing: border-box;
box-sizing: border-box;
-webkit-transition: all 0.6s ease;
transition: all 0.6s ease;
}
figure.snip1311 img {
  max-width: 100%;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  backface-visibility: hidden;
}
figure.snip1311 figcaption {
position: absolute;
top: 50%;
left: 0;
width: 100%;
-webkit-transform: rotateX(90deg) translate(0%, -50%);
transform: rotateX(90deg) translate(0%, -50%);
-webkit-transform-origin: 0% 0%;
-ms-transform-origin: 0% 0%;
transform-origin: 0% 0%;
z-index: 1;
opacity: 0;
padding: 0 30px;
}
figure.snip1311 h3,
figure.snip1311 p {
line-height: 1.5em;
}
figure.snip1311 h3 {
margin: 0;
font-weight: 800;
text-transform: uppercase;
}
figure.snip1311 p {
font-size: 0.8em;
font-weight: 500;
margin: 0 0 15px;
}
figure.snip1311 .read-more {
border: 2px solid #ffffff;
padding: 0.5em 1em;
font-size: 0.8em;
text-decoration: none;
color:#ffe75e;
display: inline-block;
}
figure.snip1311 .read-more:hover {
background-color: #ffffff;
color: #000000;
}
figure.snip1311:hover img,
figure.snip1311.hover img {
-webkit-transform: rotateX(-180deg);
transform: rotateX(-180deg);
opacity: 0;
-webkit-transition-delay: 0;
transition-delay: 0;
}
figure.snip1311:hover figcaption,
figure.snip1311.hover figcaption {
-webkit-transform: rotateX(0deg) translate(0, -50%);
transform: rotateX(0deg) translate(0, -50%);
opacity: 1;
-webkit-transition-delay: 0.35s;
transition-delay: 0.35s;
}

section {
  width: 100%;
  display: inline-grid;
  margin-bottom: 2%;
}

/* Responsive Design */

@media only screen and (max-width: 700px) and (min-width: 320px) {
  
  .snip1522 {
    font-family: Roboto;
    position: relative;
    margin: 8%;
    margin-bottom: 2%;
    min-width: 230px;
    width: 80%;
    color: #141414;
    text-align: left;
    font-size: 14px;
    box-shadow: none !important;
    justify-self: center;
  }
  
  .snip1522 figcaption:after {
    content: '';
    position: fixed;
    left: 70%;
    top: 30px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #333333;
  }
  .initialName {
    float: left;
    display: flex;
    align-items: end;
    justify-content: right;
    width: 100%;
  }
  .name_brand {
    float: left;
    display: flex;
    align-items: end;
    justify-content: right;
    width: 100%;
  }
  .name_brand p{
    margin-top: 5%;
    color: #ffe75e;
    text-decoration: none;
  }
  .title{
  background-color: #3b3b3f;
  color: #ffe75e;
  border-radius: 5%;
  display: flex;
  padding: 5%;
  padding-bottom: 1%;
  margin-bottom: 0;
  justify-content: center;
  font-weight: 600;
  width: 50%;
  }

  .bird {
    width: 15%;
    display: flex;
    margin: 1% 6% 0 2%;
  }  

  .nav ul {
    margin: 0;
    width: 0;
  }
  
  .nav{
    background-color: #3b3b3f;
    text-align: end;
    font-family: 'Roboto', sans-serif;
    opacity: 0.7;
    position: fixed;
    z-index: 999;
    width: 100%;
  }
  .img-profile {
    margin: 5%;
    width: 30vw;
    height: 18vh;
    vertical-align: top;
    border-radius: 150px;
  }
 .text_container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 64%;
  left: 42%;
  margin: 3%;
  margin-top: 3%;
  margin-left: -40%;
  font-size: larger;
 }
 .the_placeText {
  text-align: center;
  margin: 10%;
  color: #d0d0d0;
  font-weight: 300;
 }
 .icons img {
  width: 50%;
 }

  .nav ul li {
    padding: 2%;
    display: none;
  }
  .snip1585 img {
    vertical-align: top;
    backface-visibility: hidden;
    height: 50vh;
  }
  .snip1522 figcaption {
    background-color: #333333;
    color: #fff;
    padding: 25px;
    text-align: center;
    display: block;
    margin-right: 0;
    border-radius: 5px;
    font-family: Roboto;
    width: auto;
  }
  .snip1522 h2 {
    color: #ffe75e;
    font-weight: 600;
    display: none;
  }
  .snip1522 .profile-image img {
    display: none;
  }
  .projectPictures_container{
    width: 90%;
    display: contents;
  }

  figure.snip1311 {
      position: relative;
      overflow: hidden;
      width: 50%;
      margin-left: 25%;
      margin-right: initial;
      color: #ffffff;
      text-align: left;
      background-color: #07090c;
      font-size: 16px;
      -webkit-perspective: 50em;
      perspective: 50em;
      border-radius: 10%;
    }
    .skillContent {
      display: flex;
      align-items: center;
      width: 80vw;
      height: 80vh;
    }
    .skills{
      background-color: #3b3b3f;
      width: 80%;
      margin-left: 10%;
      margin-bottom: 5%;
      border-radius: 5px;
    }
    .icons{
      display: block;
      background: #3b3b3f;
      border-radius: 5%;
      margin-left: 5%;
      padding-top: 5%;
      text-align: center;
      flex-wrap: wrap;
      justify-content: center;
      width: 90%;
      height: 60vh;
      border: solid 2px #ffe75e;
    }
      .icon {
    width: 25%;
    color: #ffe75e;
    font-size: smaller;
    font-weight: 500;
    display: inline-table;
    place-self: center;
    margin: 1%;
    padding: 1%;
    text-align: center;
  }
  .iconTitle {
      background-color: #3b3b3f;
      color: #ffe75e;
      display: flex;
      justify-content: center;
      padding-top: 5%;
      font-family: 'Roboto', sans-serif;
      font-weight: 600;
      border-radius: 5px;
      font-size: larger;
  }
  .mepic {
      width: 50%;
      display: none;
  }
    .contact h2{
    font-size: medium;
    }
    section {
      width: 100%;
      display: inline-grid;
      margin-bottom: 2%;
    }

    .findIcon {
      display: grid;
      text-align: center;
      color: rgb(208, 208, 208);
      font-weight: 400;
      font-size: small;
    }
    .initialName p {
      color: #ffe75e;
      font-size: smaller;
      text-decoration: none;
    }
    .snip1585 h3 {
      font-size: 0.5em;
      font-weight: 200;
      letter-spacing: 1px;
      margin: 0;
      text-transform: uppercase;
    }
    .myWorks {
      color: #ffe75e;
      background-color: #3b3b3f;
      width: 80%;
      display: flow-root;
      text-align: center;
      margin-bottom: 2%;
      margin-left: 10%;
      font-weight: 600;
      border-radius: 5px;
    }
}

@media only screen and (max-width: 1200px) and (min-width: 701px) {

  .nav {
    background-color: #3b3b3f;
    text-align: end;
    font-family: 'Roboto', sans-serif;
    opacity: 0.9;
    position: fixed;
    z-index: 999;
    width: 100%;
    font-size: small;
  }
  .initialName {
    float: left;
    display: flex;
    align-items: center;
    justify-content: right;
    width: 40%;
  }
  .img-profile {
      width: 27vw;
      height: 21vh;
      border-radius: 150px;
      vertical-align: top;
  }
  .nav ul {
    margin: 0;
    width: 75%;
  } 

  .nav ul li 
  {
    padding: 2%;
  }
  
  .nav ul li a {
    color: #ffe75e;
    text-decoration: none; 
  }
  .snip1522 .profile-image img {
    border-radius: 5px;
    max-width: 20vw;
  }
  .icons {
    display: initial;
    text-align: center;
    flex-wrap: initial;
    width: 90%;
    margin-top: 5%;
    padding-top: 5%;
  }
  .icon {
    width: 15%;
    color: #fff;
    display: inline-table;
    flex: auto;
    margin: 1%;
    padding: 3%;
    color: #ffe75e;
  }
  .snip1585:hover > img, .snip1585.hover > img {
    opacity: 0.7;
    height: 45vh; 
  }
    .myWorks {
      color: #ffe75e;
      background-color: #3b3b3f;
      width: 80%;
      display: flow-root;
      text-align: center;
      margin-bottom: 2%;
      margin-left: 10%;
      font-weight: 600;
      border-radius: 5px;
  }
  .mepic {
    width: 50%;
  }

  .projectPictures_container{
    border: solid 2px #ffe75e;
    border-radius: 5%;
    display: flex;
    width: 70%;
    margin: 5% 5% 5% 10%;
    padding: 5%;
    justify-content: space-evenly;
  } 
 figure.snip1311 img {
    max-width: 100%;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
    backface-visibility: hidden;
  }
  figure.snip1311 {
    position: relative;
    overflow: hidden;
    width: 60%;
    color: #ffffff;
    text-align: left;
    background-color: #07090c;
    font-size: 12px;
    -webkit-perspective: 50em;
    perspective: 50em;
    border-radius: 10%;
  }
  
  .snip1522 .profile-image img {
    border-radius: 5px;
    width: 20vw;
    height: 15vh;
    object-fit: cover;
  }
  .skillContent {
    display: flex;
    width: 80vw;
    height: 80vh;
    flex-direction: row;
    align-items: center;
    background-image: url(./images/fondotecnologia.png);
    background-size: cover;
  }
  .snip1585 img {
    vertical-align: top;
    width: 100vw;
    height: 45vh;
    backface-visibility: hidden;
  }
}
